*.o
*.o.cmd
*.ko
modules.order
*.ko.cmd
*.mod.c
*.strip

# Compiled Object files
*.slo
*.lo
*.o
*.obj
=======
# Object files
*.o
*.ko
*.obj
*.elf
# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
=======
# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
=======
*.i*86
*.x86_64
*.hex

*.swp
*.log

checkES
checkramp
checkramp480
hbfarm425
multisitecheckramp
afhba-bufferAB-480-pwm
afhba-bufferAB-do32-threshold
afhba-llcontrol-abn
afhba-llcontrol-cpucopy
afhba-llcontrol-do32-threshold
afhba-llcontrol-example
afhba-llcontrol-multiuut
afhba-llcontrol-testharness
afhba-llcontrol-two-fiber
afhba-llcontrol-zcopy
pwm_control
pwm_set_channel
pwm_set_duty
Module.symvers

.acq-fiber-hba.o.d
ACQPROC/acqproc
ACQPROC/acqproc_broadcast_trigger
ACQPROC/acqproc_custom
LLCONTROL/afhba-llcontrol-multiuut-4AI1AO1DX
LLCONTROL/check-tlatch
STREAM/rtm-t-stream-disk
mmap
xiloader
