*.o
*.o.cmd
*.ko
modules.order
*.ko.cmd
*.mod.c
*.strip

# Compiled Object files
*.slo
*.lo
*.o
*.obj
=======
# Object files
*.o
*.ko
*.obj
*.elf
# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib
=======
# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib
=======
*.i*86
*.x86_64
*.hex

